<div class="container-fluid">
        <div class="col">
            <div class="row">
                <div class="flex-compare-container">
                    <ng-container *ngFor="let marc of marcs;let index=index;">
                        <div class="col {{index >= secondRowStartIndex && showSecondRow ? secondRowColWidthClass : colWidthClass}}"
                            [hidden]="isClosedMarcWindow(marcId)">
                            <div class="compareHeader">
                                <div class="col pl-small pr-small">
                                    <span *ngIf="!isZ3950ProfileSearch()" class="float-left" tabindex="0">
                                        Record Number: {{marc.RecordNumber}}</span>
                                    <span *ngIf="isZ3950ProfileSearch()" class="float-left" tabindex="0">
                                        Control Number: {{marc.RecordControlNumber}}</span>
                                    <!-- <span class="float-left" tabindex="0"> Record Number: {{marc.RecordNumber}}</span> -->
                                    <span class="float-right compareActionIcons">
                                        <button type="button" title="Edit"  class="disableBtn btn btn-default" [disabled]="!hasAccessAny([Permissions.EDT_BIB_MN,Permissions.EDT_BIB_WS]) || isAllCustomerSelected" (click)="EditMarcRecord(marc.Id,marc.Mrecord)"  tabindex="0" (keydown.enter)="EditMarcRecord(marc.Id)">
                                            <em class="fas fa-edit"  aria-label="Press enter to edit"><span class="sr-only">Edit Button</span></em>
                                        </button>
                                        <em class="fas fa-times" title="Close" aria-label="Press enter to delete" (click)="close(marc.Id)" tabindex="0" (keydown.enter)="close(marc.Id)"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="{{showSecondRow ? (isExpandSearchItem == 'true'? halfMarcRecordCollapsedClass : halfMarcRecordClass) : isExpandSearchItem == 'true'? fullMarcRecordCollapsedClass: fullMarcRecordClass}}">
                                <div class="MARCrecords" [ngStyle]="{'background-color':marcSettings?.backgroundcolor}">
                                    <marc-view (AuthorityRecordLinkClicked)="OnAuthorityClicked($event)" [marcItem]="marc.Mrecord" [marcId]="marc.Id">
                                    </marc-view>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
