.btn.mat-button{line-height:30px !important;}
.mat-actions{
    padding-top:5px;
    float:none;
    justify-content: center;
}
.alertConfirmation .mat-header{
    color: #ffffff;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #004165;
    background-color: #004165;
    
  }
  .errorNav {
    height: auto;
    max-height: 120px;
    background-color: #ececec;
    width: 100%;
    position: relative;
    overflow: auto;
    word-break: break-all;
    padding: .5rem;
    margin-top: 0.5rem;
    border: 1px solid #bebebe;
  }
  .alertConfirmation .mat-header h5{margin-bottom: 0;font-size:10pt;}
.mat-dialog-container{
    padding: 4px !important;
}
.row.fixedHeaderMatPopup{
    padding-right:16px !important;
    background-color: #d8d8d8;
    padding: .3rem;
    border: 1px solid #ccc;
}
.row.fixedHeaderMatPopupBody {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-top: none;
  }
  .mat-header button.close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
    position: relative;
    top: -4px;
}
.card-body {
    padding: .75rem;
}
.mat-dialog-content{
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    width: 100%;
}
.fixedHeaderMatPopupBody .row.ATSReviewFieldRow{
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}
.row.fixedHeaderMatPopupBody smooth-dnd-draggable:last-child > div {
    border-bottom: none;
}
.fixedHeaderMatPopup .btn {
    padding: .1rem .3rem;
    position: absolute;
    right: -13px;
    top: -2px;
}
.matActionsBtns{
    height: 40px;;
}